version: '3.8'

services:
  web:
    image: nginx:latest
    privileged: true
    network_mode: host
    pid: host
    ipc: host
    cap_add:
      - SYS_ADMIN
      - NET_ADMIN
    security_opt:
      - seccomp:unconfined
      - label:disable
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  
  app:
    image: myapp:latest
    container_name: myapp-prod
