---
---
<footer>
  <CardGrid>
    <div style="border-radius: 10px; overflow: hidden; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
      <img src="/assets/cpf-illustration.jpg" alt="Getting Started" style="width: 100%; height: 200px; object-fit: cover;" />
      <div style="padding: 16px;">
        <h4>CodeQL Opensource Alternative</h4>
        <a href="/blog/codeql-oss-alternative" style="display: inline-block; background-color: #4CAF50; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin-top: 10px;">
        <span style="font-size: 1.2em;">More →</span>
        </a>
      </div>
    </div>
  </CardGrid>
</footer>